/* Elements */

body {
	overflow: hidden;
}
.fox{
	position: fixed;
    width: 215px;
	height: 275px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}
.head{
	width: 185px;
	height: 185px;
	background: linear-gradient(to bottom left, #ffcccc 27%, #ff9933 93%);
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	overflow: hidden;
}
.head:before, .head:after{
	content: '';
	width: 184px;
	height: 184px;
	background:linear-gradient(to bottom left, #ffcccc 27%, #ff9933 93%);
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	bottom: -92px;
}
.head:before{
	left: -92px;
}
.head:after{
	right: -92px;
}
.eye{
	width: 18px;
	height: 18px;
	background: blue;
	border-radius: 18px 18px 0 0;
	position: absolute;
	z-index: 2;
	bottom: 40px;	
}
.eye:nth-child(odd){
	left: 37px;
}
.eye:nth-child(even){
	right: 37px;
}
.ear{
	width: 93px;
	height: 93px;
	display: block;
	background: linear-gradient(to bottom left, #ffcccc 27%, #ff9933 93%);;
	position: absolute;
	top: 0px;
}
.ear:nth-child(odd){
	border-radius: 0 93px 0 0;
	left: 31px;
}
.ear:nth-child(even){
	border-radius: 93px 0 0 0;
	right: 0px;
}
.nose{
	width: 27px;
	height: 27px;
	display: block;
	background: lightcoral;
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	top: 156px;
	right: 78px;
}

body {
	background: blanchedalmond 
}
h1 {
	position: fixed;
    top: 0.5em;
    left: -0.5em;
    text-align: center;
    font-size: 20em;
    mix-blend-mode: color-dodge;
    color: slateblue;
    margin: 0;
    left: 30%;
    bottom: 40%;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    transform: rotate(-30deg);
    z-index: -1;
}
h2 {
	position: fixed;
    text-align: center;
    font-size: 7em;
    color: slateblue;
    margin: 0;
    line-height: 1;
    text-transform: lowercase;
    z-index: -1;
}









